<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Pomodoro Timer</title>

</head>
<body>
    <h1 id="timer">{{ timer_message }}</h1>
    <script>
        function updateTimer(message) {
            document.getElementById("timer").innerText = message;
        }
        // Add a random parameter to the source to force browser to reload
        const randomParam = Math.random();
        const script = document.createElement('script');
        script.src = `/static/js/update_timer.js?random=${randomParam}`;
        document.head.appendChild(script);
    </script>
</body>
</html>






